#include "resource.h"

IDI_MAIN ICON "../icons/00_icon.ico"
IDI_DAY_BASE +  1 ICON "../icons/01.ico"
IDI_DAY_BASE +  2 ICON "../icons/02.ico"
IDI_DAY_BASE +  3 ICON "../icons/03.ico"
IDI_DAY_BASE +  4 ICON "../icons/04.ico"
IDI_DAY_BASE +  5 ICON "../icons/05.ico"
IDI_DAY_BASE +  6 ICON "../icons/06.ico"
IDI_DAY_BASE +  7 ICON "../icons/07.ico"
IDI_DAY_BASE +  8 ICON "../icons/08.ico"
IDI_DAY_BASE +  9 ICON "../icons/09.ico"
IDI_DAY_BASE + 10 ICON "../icons/10.ico"
IDI_DAY_BASE + 11 ICON "../icons/11.ico"
IDI_DAY_BASE + 12 ICON "../icons/12.ico"
IDI_DAY_BASE + 13 ICON "../icons/13.ico"
IDI_DAY_BASE + 14 ICON "../icons/14.ico"
IDI_DAY_BASE + 15 ICON "../icons/15.ico"
IDI_DAY_BASE + 16 ICON "../icons/16.ico"
IDI_DAY_BASE + 17 ICON "../icons/17.ico"
IDI_DAY_BASE + 18 ICON "../icons/18.ico"
IDI_DAY_BASE + 19 ICON "../icons/19.ico"
IDI_DAY_BASE + 20 ICON "../icons/20.ico"
IDI_DAY_BASE + 21 ICON "../icons/21.ico"
IDI_DAY_BASE + 22 ICON "../icons/22.ico"
IDI_DAY_BASE + 23 ICON "../icons/23.ico"
IDI_DAY_BASE + 24 ICON "../icons/24.ico"
IDI_DAY_BASE + 25 ICON "../icons/25.ico"
IDI_DAY_BASE + 26 ICON "../icons/26.ico"
IDI_DAY_BASE + 27 ICON "../icons/27.ico"
IDI_DAY_BASE + 28 ICON "../icons/28.ico"
IDI_DAY_BASE + 29 ICON "../icons/29.ico"
IDI_DAY_BASE + 30 ICON "../icons/30.ico"
IDI_DAY_BASE + 31 ICON "../icons/31.ico"
