ICON_main ICON "../icons/icon.ico"
ICON_01 ICON "../icons/01.ico"
ICON_02 ICON "../icons/02.ico"
ICON_03 ICON "../icons/03.ico"
ICON_04 ICON "../icons/04.ico"
ICON_05 ICON "../icons/05.ico"
ICON_06 ICON "../icons/06.ico"
ICON_07 ICON "../icons/07.ico"
ICON_08 ICON "../icons/08.ico"
ICON_09 ICON "../icons/09.ico"
ICON_10 ICON "../icons/10.ico"
ICON_11 ICON "../icons/11.ico"
ICON_12 ICON "../icons/12.ico"
ICON_13 ICON "../icons/13.ico"
ICON_14 ICON "../icons/14.ico"
ICON_15 ICON "../icons/15.ico"
ICON_16 ICON "../icons/16.ico"
ICON_17 ICON "../icons/17.ico"
ICON_18 ICON "../icons/18.ico"
ICON_19 ICON "../icons/19.ico"
ICON_20 ICON "../icons/20.ico"
ICON_21 ICON "../icons/21.ico"
ICON_22 ICON "../icons/22.ico"
ICON_23 ICON "../icons/23.ico"
ICON_24 ICON "../icons/24.ico"
ICON_25 ICON "../icons/25.ico"
ICON_26 ICON "../icons/26.ico"
ICON_27 ICON "../icons/27.ico"
ICON_28 ICON "../icons/28.ico"
ICON_29 ICON "../icons/29.ico"
ICON_30 ICON "../icons/30.ico"
ICON_31 ICON "../icons/31.ico"
